<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <h1>Hello, World!</h1>
    <h2>This is a simple HTML document.</h2>
    <%- include('./partials/nav.ejs') %>
    
    <div class="404 - content not found">
        <h2></h2>
        <p> Not found</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
