<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>Hello, World!</h1>
    <h2>This is a simple HTML document.</h2>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About me</h2>
        <p> Pretend there is something interesting</p>
        <p> Pretend there is something interesting</p>
        <p> Pretend there is something interesting</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>
