<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About this page</h2>
        <p> Type in a name of a song and the site will give you lyrics and the number of curse words in them.</p>
        <p> The count of each word is accurate, however because of the wonkiness of the Genius API it includes the href's when counting  </p>
        <p> In later versions I will add a way to type in the words you want to find</p>
        <p> This is my first website which I made during the semester so don't judge too harshly</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>
