<!DOCTYPE html>
<html>
    <head>
    <%- include('./partials/head.ejs') %>
    
    
</head>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    
    
    <div class="blogs content">
        <h2>Enter your song below to get the lyrics and the curse words in them.</h2>
        <p> Visit the ABOUT section for more information</p>

        <form action = "http://localhost:1337/post" method = "POST" id="textInputForm">
            <label for="userInput">Enter text:</label>
            <input type="text" id="userInput" name="userInput">
            <button type="submit" >Submit</button>
          </form>
        
          

          
          
        
          
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
